.home-box {
  padding:0;
  overflow:hidden;
  .post-list-title {
    margin-bottom: $spacing-unit / 6;
    padding: $spacing-unit / 2 0 0 $spacing-unit / 2;
    zoom: 1.2;
  }
  .post-list {
    margin-bottom: 0;
    padding: 0 0 $spacing-unit / 2;
    .post-link {
      color: inherit;
      display:block;
      padding: $spacing-unit / 6 0;
      transition: .3s color;
      &:not(:last-child) {
        border-bottom: 1px solid $header-color;
      }
      &:hover {
        text-decoration: none;
        color: $theme-color;
      }
      h3 {
        margin:0;
      }
      p {
        color: #999;
      }
    }
  }
}