.site-footer {
  margin-top: 20px;
  box-shadow: 0 -1px 0 0 #292929;
  .footer {
      display:flex;
      padding:15px;
      padding-bottom:40px;
  }
}

.footer-title {
  flex:1;
}

.footer-social-links {
  svg {
      width:20px;
      height:20px;
      fill: $theme-color;
  }
  a {
      &:not(:first-child) {
          margin-left:6px;
      }
  }
}

#search-demo-container {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  #search-input {
    height: 36px;
    margin-bottom: 10px;
    padding: 0 5px;
    font-size: 19px;
  }
}