---
layout: default
---

<div class="home">
  {{ content }}

  {% assign posts = site.posts %}

  {%- if posts.size > 0 -%}
  {%- if page.list_title -%}
  <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- endif -%}
  <div class="box home-box">
    <ul class="post-list">
      {%- for post in posts -%}
      <li><a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title | escape }}">{{ post.title | escape }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}
</div>