<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<title>{{ page.title }} - 这篇文章是{{ page.author }}于{{ page.date | date:"%Y-%m-%d" }}整理所写的……</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui, shrink-to-fit=no">
<link rel="stylesheet" href="/blog/css/md.css">
</head>
<body>
<div class="wrap">
	{{ content }}
	<div class="about">
		<p>这篇文章是 {{ page.author }} 于 {{ page.date | date:"%Y-%m-%d" }} 整理所写的，如果觉得有不对不足的地方，那么请到 <a href="https://github.com/linxz/blog/issues">https://github.com/linxz/blog/issues</a> 中告知，感谢！</p>
		<p>最后不要脸的放一个支付宝的二维码了，如果各位觉得还行，可以鼓励一下的话，那就扫一下吧。^o^</p>
		<p><img src="/blog/img/qrcode_alipay.png" alt=""><img src="/blog/img/qrcode_wx.png" alt=""></p>
	</div>
</div>
</body>
</html>